<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/template/style.css">
</head>
<body>
    <div class ="container">
        <h1>Welcome, please log in</h1>
        <form action="/login" method="post">
            <label for="username" class="hidden">Username:</label><br>
            <input type="text" id="username" name="username" placeholder="username"><br>
            <label for="password" class="hidden">Password:</label><br>
            <input type="password" id="password" name="password" placeholder="password"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>